@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

#toggle:checked ~ label div {
    background-color: #fff;
    /* background-color: #111827; */
}

#toggle:checked ~ label div.toggle-dot {
    transform: translateX(100%);
    border-color: #111827;
    /* background-color: #fff; */
    background-color: #000;
}
